@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", system-ui;
}

/*Header*/
header{
    height: 8rem;
    padding: 2rem 6.125rem;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    height: 4rem;
    width: 100%;
    padding: 4rem 6.125rem;
    box-sizing: border-box;
    z-index: 100;
}
.logo{
    width: 177px;
    height: 48px;
}
.nav-items{
    padding: 0;
    list-style: none;
    font-size: 1.375rem;
    color:#545454;
    font-weight: 600;
}
.nav-items li{
    display: inline;
    padding: 0 0.8rem;
}
.sign-up-button{
    height: 3.75rem;
    width: 11rem;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
}
/*Header-End*/


/*Hero-Start*/
.hero-grid-container{
    padding: 0 6.125rem;
    box-sizing: border-box;
    display: grid;
    justify-content: space-between;
    grid-template-areas: "hero-text hero-text image-1" "button-numbers image-2 image-2";
    row-gap: 2rem;
}
.hero-text-container{
    grid-area: hero-text;
}
.hero-image-1{
    grid-area: image-1;
    justify-self: flex-end;
}
.hero-image-2{
    width: 75%;
    margin-left: 3rem;
}
.button-numbers{
    grid-area: button-numbers;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-image-2-container{
    grid-area: image-2;
    position: relative;
    justify-self: flex-end;
}
.hero-title{
    font-size: 7.5rem;
    color:#1F1F1F;
    font-weight: 500;
}
.hero-sub{
    font-size:1.5rem ;
    font-weight: 500;
    color:#545454;
    margin-top: 2rem;
    width: 90%;
}
#rectangle{
    position: absolute;
    top:-7%;
    left: 3%;
    z-index: -1;
}
.arrow-down{
    position: absolute;
    width: 20%;
    background-color: transparent;
    border:none;
    bottom: 0;
    right: 5%;
    z-index: 5;
}
.arrow-down svg{
    width: 100%;
    height: 100%;
}
.hero-cta{
    background-color: #1F1F1F;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.7rem 4.8rem;
    width: fit-content;
}
.numbers-flex{
    display: flex;
    justify-content: space-between;
    width: 105%;
}
.numbers-flex .number{
    font-size: 4.375rem;
    color:#545454;
    font-weight: 400;
}
.numbers-flex .number-title{
    font-size: 1.375rem;
    color:#545454;
}
/*Hero-End*/


/*Services*/
.services{
    padding: 15rem 6.125rem;
}
.services-title{
    font-size: 3.625rem;
    color:#1F1F1F;
    font-weight: 600;

}
.services-grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-top: 6.438rem;
}
.services-grid-item h3{
    font-size: 1.875rem;
    color:#1F1F1F;
    font-weight: 600;
}
.services-grid-item p{
    color:#545454;
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 2.1rem;
}
/*End Services*/


/*Brief*/
.brief{
    padding: 7.5rem 6.125rem;
    display: flex;
    justify-content: space-between;
}
.brief-text-container{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.brief-text-container h1{
    font-size: 3.625rem;
    color: #1F1F1F;
    font-weight: 600;
}
.brief-text-container p{
    font-size: 1.5rem;
    color: #545454;
    font-weight: 500;
}
.brief-add{
    display: flex;
    justify-content: space-between;

}
.brief-add p{
    color: #1F1F1F;
    font-weight: 600;
}
.brief button{
    color: white;
    background-color: #1F1F1F;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 4.4rem;
    width: fit-content;

}
.margin-50{
    margin-top: 3.125rem;
}
.brief img{
    width: 40%;
    object-fit: cover;
}


/*End Brief*/



/*steps*/
.steps{
    padding: 15rem 6.125rem;
    display: flex;
    justify-content: space-between;

}
.steps-text-container h1{
    color:#1F1F1F;
    font-size: 3.625rem;
}
.steps-image{
    width: 40%;
    object-fit: cover;
}
.steps-text-flex-contianer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4.1rem;
    width: 90%;
}
.uni-step{
    margin-top:3.75rem;
    display: flex;
}
.uni-step svg{
    width: 50%;
    margin-right: 4rem;
}
.step-title{
    font-size: 1.875rem;
    color:#1F1F1F;
    font-weight: 700;
    
}

.step-desc{
    color:#545454;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.3rem;
}
/*End Step*/


/*Testimonial*/
.testimonials{
    padding: 7.5rem 6.125rem;
    position: relative;
}
.testimonials >img{
    position: absolute;
    z-index: -1;
    width: 41%;
}
.testim-inner{
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.testim-inner h1{
    width: 50%;
    color: #1F1F1F;
    font-size: 3.625rem;
    margin-right: 4rem;
}
.reviews-container{
    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-between;
    z-index: 99;
    background-color: white;
    padding-left: 2rem;
    padding-top: 2rem;
    
}
.reviews-container > div{
    background-color: #1F1F1F;
    color: white;
    padding: 7.25rem 3.5rem;
}
.testimonials-buttons-container{
    position: absolute;
    bottom: 7.25rem;

}
.testimonials-buttons-container button{
    width: 73px;
    height: 73px;
    background-color: #F1F1F1;
    border:none;
}

.review{
    font-size:1.5rem;
    margin: 4.375rem 0;
}
.th{
    width: 100%;
    color: #1F1F1F;
    font-size: 3rem;
    text-align: center;
    background-color: white;
    display: none;
}
/*End Testimonials*/

/*Newsletter*/
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem 6.125rem;
}
.newsletter-title{
    font-size:3.625rem;
    color: #1F1F1F;
    font-weight: 600;
    width: 60%;
    text-align: center;
}
.newsletter p{
    font-size: 1.5rem;
    color: #545454;
    font-weight: 500;
    text-align: center;
    width: 55%;
    margin: 3.1rem 0;
}
.input-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 6.5rem;
    padding-left:2rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
    margin-bottom: -11rem;

}
.input-container input{
    width: 70%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
}
.input-container button{
    width: 30%;
    height: 80%;
    background-color: #1F1F1F;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
input:focus{
    outline: none;
}


/*End Newsletter*/

/*Footer*/
footer{
    padding: 12rem 6.125rem;
    background-color:black;
    color: white;

}
.footer-container-of-all{
    display: flex;
    justify-content: space-between;
}
.footer-left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 34%;
}
.below-logo{
    color: #d1d1d1;
    font-weight: 500;
    font-size: 1.375rem;
    width: 60%;
}
.link-tree a{
    text-decoration: none;
    margin-right: 1.3rem;
}
.footer-items{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    width: 66%;
}
.footer-items > div> h6{
    font-weight: 600;
    font-size: 1.5rem;
}
.footer-items >div > ul{
    padding-left: 0;
    list-style: none;
}
.footer-items > div> ul > li{
    font-weight: 500;
    font-size: 1.375rem;
    color:#d1d1d1;
    margin-top: 2.8rem;
}
/*End Footer*/

@media only screen and (max-width: 768px){
    header{
        height: 8rem;
        padding: 2rem 1rem;
        box-sizing: border-box;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top:0;
        left:0;
        height: 4rem;
        width: 100%;
        padding: 4rem 1rem;
        box-sizing: border-box;
        z-index: 100;
    }
    .nav-items{
        display: none;
    }
    .below-logo{
        width: 100%;
    }
    footer{
        padding: 4rem 1rem;
        background-color:black;
        color: white;
    
    }
    .footer-container-of-all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .footer-container-of-all > *{
        margin-top: 2rem;
    }
    .footer-left-container{
        width: 100%;
        align-items: center;
    }
    .footer-left-container >*{
        margin-top: 1rem;
    }
    .link-tree a{
        text-decoration: none;
        margin:0.6rem;
    }
    .footer-items{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-items > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .footer-items > div> h6{
        text-align: center;
    }
    .hero-grid-container{
        padding: 0 1rem;
        box-sizing: border-box;
        display: grid;
        justify-content: space-between;
        grid-template-areas: "hero-text" "image-1" "image-2" "button-numbers";
        row-gap: 2rem;
    }
    .numbers-flex{
        width: 80%;
    }
    .hero-image-1{
        grid-area: image-1;
        justify-self: center;
        width: 75%;
    }
    .hero-image-2{
        width: 75%;
        margin-left: 3rem;
    }
    .button-numbers{
        grid-area: button-numbers;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hero-image-2-container{
        grid-area: image-2;
        position: relative;
        justify-self: center;
    }
    .hero-title{
        font-size: 6rem;
        text-align: center;
    }
    .hero-sub{
        font-size:1.3rem ;
        width: 100%;
        text-align: center;
    }
    .hero-cta{

        font-size: 1.2rem;

        padding: 1rem 2.5rem;

    }
    .numbers-flex .number{
        margin-top: 1rem;
        font-size: 3rem;
    }
    .numbers-flex .number-title{
        font-size: 1rem;
    }
    .services{
        padding: 2rem 1rem;
    }
    .services-title{
        font-size: 1.8rem;
        text-align: center;

    }
    .services-grid-container{
        grid-template-columns: 100%;
        justify-content: center;
        width: 100%;
    }
    .services-grid-container >div > p{
        text-align: center;
    }
    .brief{
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .brief-text-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .brief-text-container > p{
        text-align: center;
    }
    .brief-text-container h1{
        font-size: 3rem;
        text-align: center;
    }
    .brief-text-container p{
        font-size: 1.3rem;
    }
    .brief img{
        width: 100%;
        object-fit: cover;
    }
    .testimonials{
        padding: 2rem 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonials >img{
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        width: 100%;
    }
    .testim-inner{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
    }
    .testim-inner h1{
        width: 100%;
        color: #1F1F1F;
        font-size: 3rem;
        text-align: center;
        background-color: white;
        display: none;
    }
    .th{
        width: 100%;
        color: #1F1F1F;
        font-size: 3rem;
        margin: 2rem 0;
        text-align: center;
        background-color: white;
        display: block;
    }
    .reviews-container{
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        z-index: 99;
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        
    }
    .reviews-container > div{
        background-color: #1F1F1F;
        color: white;
        padding: 7.25rem 3.5rem;
        margin-top: 2rem;
    }
    .testimonials-buttons-container{
        position: absolute;
        bottom: 7.25rem;
    
    }
    .testimonials-buttons-container button{
        width: 73px;
        height: 73px;
        background-color: #F1F1F1;
        border:none;
    }
    
    .review{
        font-size:1.5rem;
        margin: 4.375rem 0;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }
    .newsletter-title{
        font-size:3rem;
        color: #1F1F1F;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .newsletter p{
        font-size: 1.3rem;
        color: #545454;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin: 3.1rem 0;
    }
    .input-container{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 6.5rem;
        padding-left:2rem;
        box-sizing: border-box;
        padding-right: 0.5rem;
        margin-bottom: -4rem;
    
    }
    .input-container input{
        width: 70%;
        height: 100%;
        border: none;
        font-size: 0.8rem;
    }
    .input-container button{
        width: 30%;
        height: 80%;
        background-color: #1F1F1F;
        font-size: 0.8rem;
        font-weight: 600;
        color: white;

    }
    input:focus{
        outline: none;
    }
    
    .steps{
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    
    }
    .steps-text-container h1{
        color:#1F1F1F;
        font-size: 3rem;
        text-align: center;
    }
    .steps-image{
        width: 100%;
        object-fit: cover;
    }
    .steps-text-flex-contianer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3rem;
        width: 90%;
    }
    .uni-step{
        margin-top:3rem;
        display: flex;
    }
    .uni-step svg{
        width: 50%;
        margin-right: 4rem;
    }
    .step-title{
        font-size: 1.5rem;
        color:#1F1F1F;
        font-weight: 700;
        
    }
    
    .step-desc{
        color:#545454;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1.3rem;
    }

}